<h1><center>Customer Purchase Prediction using Decision Tree Classifier</center></h1>

In [1]:
import pandas as pd

In [8]:
data=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/bank dataset.xlsx")

In [9]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [10]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [11]:
#check for missing values
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [13]:
#distribution of target variable
data['y'].value_counts()

y
no     4000
yes     521
Name: count, dtype: int64

In [14]:
#preprocessing the data

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
data['y']=le.fit_transform(data['y'])

x=data.drop('y',axis=1)
y=data['y']

#one hot encoding
x=pd.get_dummies(x,drop_first=True)

#splitting the dataset into train and test sets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=42)

In [15]:
#build and train the decision tree classifier

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

clf=DecisionTreeClassifier(random_state=42)
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [16]:
#evaluate the model

Accuracy=accuracy_score(y_test,y_pred)
Confusion_matrix=confusion_matrix(y_test,y_pred)
Classification_report = classification_report(y_test,y_pred)

print("Accuracy: ",Accuracy)
print("Confusion Matrix: ",Confusion_matrix)
print("Classification Report: ",Classification_report)

Accuracy:  0.8772802653399668
Confusion Matrix:  [[1505  115]
 [ 107   82]]
Classification Report:                precision    recall  f1-score   support

           0       0.93      0.93      0.93      1620
           1       0.42      0.43      0.42       189

    accuracy                           0.88      1809
   macro avg       0.67      0.68      0.68      1809
weighted avg       0.88      0.88      0.88      1809

In [18]:
#visualize the decision tree

from sklearn.tree import export_graphviz
import graphviz

dot_data=export_graphviz(clf,out_file=None,feature_names=x.columns,class_names=["No Purchase","Purchase"],filled=True,rounded=True,special_characters=True)
graph=graphviz.Source(dot_data)
graph.render("decision_tree")
graph.view()

'decision_tree.pdf'

In [22]:
x.columns

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'contact_telephone', 'contact_unknown', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown'],
      dtype='object')

In [23]:
#prediction using a sample customer data

sample_data = {
    'age': [35],
    'balance': [1200],
    'day': [15],
    'duration': [300],
    'campaign': [1],
    'pdays': [999],
    'previous': [0],
    'job_blue-collar': [0],
    'job_entrepreneur': [0],
    'job_housemaid': [0],
    'job_management': [0],
    'job_retired': [0],
    'job_self-employed': [0],
    'job_services': [0],
    'job_student': [0],
    'job_technician': [1],
    'job_unemployed': [0],
    'job_unknown': [0],
    'marital_married': [0],
    'marital_single': [1],
    'education_secondary': [0],
    'education_tertiary': [1],
    'education_unknown': [0],
    'default_yes': [0],
    'housing_yes': [1],
    'loan_yes': [0],
    'contact_telephone': [1],
    'contact_unknown': [0],
    'month_aug': [0],
    'month_dec': [0],
    'month_feb': [0],
    'month_jan': [0],
    'month_jul': [0],
    'month_jun': [0],
    'month_mar': [0],
    'month_may': [1],
    'month_nov': [0],
    'month_oct': [0],
    'month_sep': [0],
    'poutcome_other': [0],
    'poutcome_success': [0],
    'poutcome_unknown': [1]
}

sample_df = pd.DataFrame(sample_data)
prediction=clf.predict(sample_df)

if prediction==1:
  print("The customer will purchase the product or service")
else:
  print("The customer will not purchase the product or service")

The customer will purchase the product or service